    <div class="single-post">
        <div class="info-section">
            <div class="post-name">
                <a href="/post/{{id}}" class="links">{{title}}</a>
            </div>
            <div class="created-by">
                <p id="comment-subtitle">
                    Posted by {{user.username}} | {{format_date createdAt}}
                </p>
            </div>
        </div>
        <div class="content-div">
            <p>{{content}}</p>
        </div>
    </div>