<h2>{{title}}</h2>
<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{blog}}</p>
  <p>Created by {{user.name}} on {{format_date createdAt}}</p>
  <p>
    Comment: {{content}}
  <p>
    <button class="btn btn-primary">Add new comment</button>
  </p>
</div>